{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col">
        <div>
            <h2 class="text-center post-title">
                 Welcome and thank you for visiting Thorim &#38; Company!
            </h2>
            <p>The magical adventures for this group of heroes start On April 26, 2941. Gandalf and the Dwarves arrived at Bag End. After a big tea and supper with Bilbo, they explained themselves and their intentions. Bilbo was at first reluctant to join the group but Gandalf rushed him out of the door.
            </p>Do you want to meet our heroes? <a href="{{ url_for('about') }}" class="font-weight-bold">Click here!</a>
            <p>

            </p>
        </div>
    </div>
</div>
{% endblock %}